n8n/recipe-import-workflow.json
{
  "name": "Recipe Import - Blog & YouTube",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recipe-import",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate URL and extract metadata\n// Handle both flat payload and n8n-wrapped payload (body key)\nconst rawInput = $input.first().json;\nconst payload = rawInput.body || rawInput;\n\nconst url = payload.url || '';\nconst importId = payload.importId || '';\nconst callbackUrl = payload.callbackUrl || '';\nconst callbackSecret = payload.callbackSecret || '';\nlet platform = payload.platform || 'blog';\n\nif (!url || !importId || !callbackUrl) {\n  throw new Error('Missing required fields: url, importId, callbackUrl');\n}\n\nif (!/^https?:\\/\\//i.test(url)) {\n  throw new Error('Invalid URL: must start with http:// or https://');\n}\n\nconst domainMatch = url.match(/^https?:\\/\\/(?:www\\.)?([^/\\s]+)/i);\nconst domain = domainMatch ? domainMatch[1] : '';\n\nif (url.includes('youtube.com/watch') || url.includes('youtu.be/')) {\n  platform = 'youtube';\n}\n\nlet videoId = null;\nlet thumbnailUrl = null;\nif (platform === 'youtube') {\n  const ytMatch = url.match(/[?&]v=([^&#]+)/) || url.match(/youtu\\.be\\/([^?&#]+)/);\n  videoId = ytMatch ? ytMatch[1] : null;\n  if (!videoId) {\n    throw new Error('Could not extract YouTube video ID from URL: ' + url);\n  }\n  thumbnailUrl = 'https://img.youtube.com/vi/' + videoId + '/maxresdefault.jpg';\n}\n\nreturn {\n  json: {\n    url,\n    importId,\n    callbackUrl,\n    callbackSecret,\n    platform,\n    domain,\n    videoId,\n    thumbnailUrl\n  }\n};"
      },
      "id": "validate-url",
      "name": "Validate URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-youtube",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "youtube",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-youtube",
      "name": "Is YouTube?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "=https://defuddle.md/www.youtube.com/watch?v={{ $json.videoId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-yt-defuddle",
      "name": "Fetch YT via Defuddle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 60],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "defuddle-yt-ok",
              "leftValue": "={{ ($input.first().json.body || $input.first().json.data || '').length }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "defuddle-yt-ok",
      "name": "Defuddle YT OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 60]
    },
    {
      "parameters": {
        "jsCode": "// Format defuddle response for YouTube — strip YAML frontmatter, extract title\nconst body = $input.first().json.body || $input.first().json.data || '';\nconst prev = $('Validate URL').first().json;\n\n// Strip YAML frontmatter\nconst frontmatterMatch = body.match(/^---\\n([\\s\\S]*?)\\n---\\n/);\nlet videoTitle = 'YouTube Recipe';\nif (frontmatterMatch) {\n  const titleMatch = frontmatterMatch[1].match(/^title:\\s*(.+)$/m);\n  if (titleMatch) videoTitle = titleMatch[1].trim().replace(/^['\"]|['\"]$/g, '');\n}\n\nconst transcriptText = body.replace(/^---\\n[\\s\\S]*?\\n---\\n/, '').substring(0, 6000);\n\nreturn {\n  json: {\n    url: prev.url,\n    importId: prev.importId,\n    callbackUrl: prev.callbackUrl,\n    callbackSecret: prev.callbackSecret,\n    videoTitle,\n    transcriptText,\n    sourceType: 'defuddle',\n    thumbnailUrl: prev.thumbnailUrl\n  }\n};"
      },
      "id": "format-defuddle-yt",
      "name": "Format Defuddle YT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 0]
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/watch?v={{ $('Validate URL').first().json.videoId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          },
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "text"
            }
          },
          "timeout": 20000
        }
      },
      "id": "fetch-yt-page",
      "name": "Fetch YouTube Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse ytInitialPlayerResponse from YouTube page HTML (same approach as defuddle fallback)\nconst html = $input.first().json.data || $input.first().json.body || '';\nconst prev = $('Validate URL').first().json;\n\nif (!html || html.length < 1000) {\n  return {\n    json: {\n      callbackUrl: prev.callbackUrl, callbackSecret: prev.callbackSecret,\n      importId: prev.importId, url: prev.url, videoTitle: '',\n      transcriptUrl: null, descriptionText: null, thumbnailUrl: prev.thumbnailUrl,\n      error: 'Failed to fetch YouTube page (length: ' + (html || '').length + ')'\n    }\n  };\n}\n\n// Extract ytInitialPlayerResponse JSON from HTML script tags\nlet playerData = null;\nconst marker = 'ytInitialPlayerResponse';\nconst idx = html.indexOf(marker);\nif (idx !== -1) {\n  const startBrace = html.indexOf('{', idx);\n  if (startBrace !== -1) {\n    let depth = 0;\n    let end = startBrace;\n    for (let i = startBrace; i < html.length && i < startBrace + 500000; i++) {\n      if (html[i] === '{') depth++;\n      else if (html[i] === '}') { depth--; if (depth === 0) { end = i; break; } }\n    }\n    if (depth === 0) {\n      try { playerData = JSON.parse(html.substring(startBrace, end + 1)); } catch (e) {}\n    }\n  }\n}\n\nif (!playerData || !playerData.videoDetails) {\n  // Try to get at least the title from the HTML\n  const titleMatch = html.match(/<title>([^<]+)<\\/title>/);\n  const pageTitle = titleMatch ? titleMatch[1].replace(' - YouTube', '').trim() : '';\n  // Try to extract description from meta tag\n  const descMatch = html.match(/property=\"og:description\"\\s+content=\"([^\"]*)\"/)\n    || html.match(/name=\"description\"\\s+content=\"([^\"]*)\"/)\n    || html.match(/\"shortDescription\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n  const desc = descMatch ? descMatch[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"') : '';\n\n  if (desc.length > 50) {\n    return {\n      json: {\n        url: prev.url, importId: prev.importId,\n        callbackUrl: prev.callbackUrl, callbackSecret: prev.callbackSecret,\n        videoTitle: pageTitle || 'YouTube Recipe',\n        transcriptUrl: null,\n        descriptionText: desc.substring(0, 6000),\n        thumbnailUrl: prev.thumbnailUrl, error: null\n      }\n    };\n  }\n  return {\n    json: {\n      callbackUrl: prev.callbackUrl, callbackSecret: prev.callbackSecret,\n      importId: prev.importId, url: prev.url, videoTitle: pageTitle || '',\n      transcriptUrl: null, descriptionText: null, thumbnailUrl: prev.thumbnailUrl,\n      error: 'Could not parse ytInitialPlayerResponse from YouTube page'\n    }\n  };\n}\n\nconst videoTitle = playerData.videoDetails.title || 'YouTube Recipe';\nconst description = playerData.videoDetails.shortDescription || '';\n\nconst tracks = playerData?.captions?.playerCaptionsTracklistRenderer?.captionTracks;\nif (tracks && tracks.length > 0) {\n  const enTrack = tracks.find(t => t.languageCode === 'en' || t.languageCode === 'en-US');\n  const track = enTrack || tracks[0];\n  if (track?.baseUrl) {\n    return {\n      json: {\n        url: prev.url, importId: prev.importId,\n        callbackUrl: prev.callbackUrl, callbackSecret: prev.callbackSecret,\n        videoTitle, transcriptUrl: track.baseUrl,\n        descriptionText: null, thumbnailUrl: prev.thumbnailUrl, error: null\n      }\n    };\n  }\n}\n\nif (description.length > 50) {\n  return {\n    json: {\n      url: prev.url, importId: prev.importId,\n      callbackUrl: prev.callbackUrl, callbackSecret: prev.callbackSecret,\n      videoTitle, transcriptUrl: null,\n      descriptionText: description.substring(0, 6000),\n      thumbnailUrl: prev.thumbnailUrl, error: null\n    }\n  };\n}\n\nreturn {\n  json: {\n    callbackUrl: prev.callbackUrl, callbackSecret: prev.callbackSecret,\n    importId: prev.importId, url: prev.url, videoTitle,\n    transcriptUrl: null, descriptionText: null,\n    thumbnailUrl: prev.thumbnailUrl,\n    error: 'No captions or description found in page data'\n  }\n};"
      },
      "id": "extract-transcript-url",
      "name": "Extract Transcript URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-transcript-url",
              "leftValue": "={{ $json.transcriptUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-transcript-url",
      "name": "Has Transcript URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1625, 180]
    },
    {
      "parameters": {
        "url": "={{ $json.transcriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "fetch-transcript",
      "name": "Fetch Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse transcript from XML captions or description fallback\nconst raw = $input.first().json;\nconst prev = $('Extract Transcript URL').first().json;\n\nif (prev.error) {\n  return {\n    json: {\n      callbackUrl: prev.callbackUrl,\n      callbackSecret: prev.callbackSecret,\n      importId: prev.importId,\n      error: prev.error,\n      rawContent: ''\n    }\n  };\n}\n\nif (!prev.transcriptUrl && prev.descriptionText) {\n  return {\n    json: {\n      url: prev.url,\n      importId: prev.importId,\n      callbackUrl: prev.callbackUrl,\n      callbackSecret: prev.callbackSecret,\n      videoTitle: prev.videoTitle,\n      transcriptText: prev.descriptionText,\n      thumbnailUrl: prev.thumbnailUrl,\n      sourceType: 'description'\n    }\n  };\n}\n\n// Parse XML caption response\nconst xml = raw.data || raw.body || (typeof raw === 'string' ? raw : '');\nif (xml && xml.length > 50) {\n  const segments = [];\n  // Match <text start=\"...\" dur=\"...\">content</text> elements\n  const regex = /<text[^>]*>([^<]*)<\\/text>/g;\n  let match;\n  while ((match = regex.exec(xml)) !== null) {\n    let text = match[1]\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\")\n      .replace(/\\n/g, ' ')\n      .trim();\n    if (text) segments.push(text);\n  }\n  if (segments.length > 0) {\n    const transcriptText = segments.join(' ').substring(0, 6000);\n    return {\n      json: {\n        url: prev.url,\n        importId: prev.importId,\n        callbackUrl: prev.callbackUrl,\n        callbackSecret: prev.callbackSecret,\n        videoTitle: prev.videoTitle,\n        transcriptText,\n        thumbnailUrl: prev.thumbnailUrl,\n        sourceType: 'transcript'\n      }\n    };\n  }\n}\n\nreturn {\n  json: {\n    callbackUrl: prev.callbackUrl,\n    callbackSecret: prev.callbackSecret,\n    importId: prev.importId,\n    error: 'No transcript content found',\n    rawContent: ''\n  }\n};"
      },
      "id": "format-transcript",
      "name": "Format Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 180]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a recipe extraction assistant. Given a cooking video transcript, description, or page content, extract the recipe into structured JSON.\n\nReturn a JSON object with:\n- \"title\" (string): recipe name\n- \"servings\" (number or null)\n- \"prepTimeMinutes\" (number or null)\n- \"cookTimeMinutes\" (number or null)\n- \"totalTimeMinutes\" (number or null): only if a total time is given but prep/cook are not broken out\n- \"ingredients\" (array): each with:\n  - \"name\" (string): full ingredient line as stated (e.g. \"200g medjool dates, roughly chopped\")\n  - \"canonicalName\" (string): clean normalized ingredient name only, no quantities or prep notes (e.g. \"Medjool Dates\")\n  - \"quantity\" (number or null)\n  - \"unit\" (string or null): one of pcs, g, kg, oz, lb, ml, L, cup, tbsp, tsp, fl oz\n  - \"preparation\" (string or null): how to prepare, e.g. \"roughly chopped\", \"melted\", \"room temperature\"\n  - \"optional\" (boolean): true if optional, decorative, or for garnish\n  - \"ingredientGroup\" (string or null): section heading like \"For the frosting\", \"Optional toppings\"\n- \"steps\" (array of strings): cooking steps in order, clear and actionable\n- \"imageUrl\" (string or null): always null for video sources\n\nRules:\n- Always populate canonicalName even if you must infer it from context\n- Separate preparation notes from the ingredient name in canonicalName\n- If ingredients are grouped under headings, include the heading in ingredientGroup\n- Mark garnishes, decorations, and items explicitly called \"optional\" as optional: true\n- Steps should be concise but complete\n- If no recipe is found, return: {\"error\": \"No recipe found in this video\"}",
              "role": "system"
            },
            {
              "content": "=Extract the recipe from this YouTube video content.\n\nVideo title: {{ $json.videoTitle }}\nURL: {{ $json.url }}\nSource: {{ $json.sourceType || 'transcript' }}\n\n---\n{{ $json.transcriptText }}",
              "role": "user"
            }
          ]
        },
        "simplifyOutput": true,
        "jsonOutput": true,
        "options": {
          "maxTokens": 3000,
          "temperature": 0.2
        }
      },
      "id": "gpt-parse-yt",
      "name": "GPT Parse YouTube",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2230, 120],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format YouTube GPT response for callback\n// With simplifyOutput + jsonOutput, $input.first().json IS the parsed recipe directly\nconst parsedRecipe = $input.first().json;\n\n// Get prev data from either defuddle or transcript path\nlet prevData;\ntry { prevData = $('Format Defuddle YT').first().json; } catch(e) { prevData = null; }\nif (!prevData || !prevData.callbackUrl) {\n  try { prevData = $('Format Transcript').first().json; } catch(e) { prevData = null; }\n}\nif (!prevData || !prevData.callbackUrl) {\n  prevData = { callbackUrl: '', callbackSecret: '', importId: '', thumbnailUrl: null };\n}\n\nif (prevData.error) {\n  return {\n    json: {\n      callbackUrl: prevData.callbackUrl,\n      callbackSecret: prevData.callbackSecret,\n      importId: prevData.importId,\n      error: prevData.error,\n      rawContent: prevData.transcriptText || ''\n    }\n  };\n}\n\nif (!parsedRecipe || parsedRecipe.error) {\n  return {\n    json: {\n      callbackUrl: prevData.callbackUrl,\n      callbackSecret: prevData.callbackSecret,\n      importId: prevData.importId,\n      error: (parsedRecipe && parsedRecipe.error) || 'GPT returned empty response',\n      rawContent: prevData.transcriptText || ''\n    }\n  };\n}\n\n// Set thumbnail as imageUrl fallback for YouTube\nif (!parsedRecipe.imageUrl && prevData.thumbnailUrl) {\n  parsedRecipe.imageUrl = prevData.thumbnailUrl;\n}\n\nreturn {\n  json: {\n    callbackUrl: prevData.callbackUrl,\n    callbackSecret: prevData.callbackSecret,\n    importId: prevData.importId,\n    recipe: parsedRecipe,\n    rawContent: prevData.transcriptText || '',\n    rawMetadata: { title: parsedRecipe.title, url: prevData.url, source: 'youtube-' + (prevData.sourceType || 'transcript') }\n  }\n};"
      },
      "id": "format-yt-result",
      "name": "Format YT Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 120]
    },
    {
      "parameters": {
        "url": "=https://defuddle.md/{{ $json.url.replace(/^https?:\\/\\//, '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-blog-defuddle",
      "name": "Fetch Blog via Defuddle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "defuddle-blog-ok",
              "leftValue": "={{ ($input.first().json.body || $input.first().json.data || '').length }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "defuddle-blog-ok",
      "name": "Defuddle Blog OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 480]
    },
    {
      "parameters": {
        "jsCode": "// Format defuddle response for blog — strip YAML frontmatter, extract image + title\nconst body = $input.first().json.body || $input.first().json.data || '';\nconst prev = $('Validate URL').first().json;\n\nconst frontmatterMatch = body.match(/^---\\n([\\s\\S]*?)\\n---\\n/);\nlet imageUrl = null;\nlet htmlTitle = '';\nif (frontmatterMatch) {\n  const imgMatch = frontmatterMatch[1].match(/^image:\\s*(.+)$/m);\n  imageUrl = imgMatch ? imgMatch[1].trim().replace(/^['\"]|['\"]$/g, '') : null;\n  const titleMatch = frontmatterMatch[1].match(/^title:\\s*(.+)$/m);\n  htmlTitle = titleMatch ? titleMatch[1].trim().replace(/^['\"]|['\"]$/g, '') : '';\n}\n\nconst rawText = body.replace(/^---\\n[\\s\\S]*?\\n---\\n/, '').substring(0, 6000);\n\nreturn {\n  json: {\n    rawText,\n    htmlTitle,\n    imageUrl,\n    url: prev.url,\n    importId: prev.importId,\n    callbackUrl: prev.callbackUrl,\n    callbackSecret: prev.callbackSecret\n  }\n};"
      },
      "id": "format-defuddle-blog",
      "name": "Format Defuddle Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 420]
    },
    {
      "parameters": {
        "url": "={{ $('Validate URL').first().json.url }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "fetch-html",
      "name": "Fetch Blog HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Try to extract JSON-LD Recipe structured data from HTML\nconst html = $input.first().json.data || $input.first().json.body || '';\nconst url = $('Validate URL').first().json.url;\nconst importId = $('Validate URL').first().json.importId;\nconst callbackUrl = $('Validate URL').first().json.callbackUrl;\nconst callbackSecret = $('Validate URL').first().json.callbackSecret;\n\nif (!html || html.length < 100) {\n  return {\n    json: {\n      hasJsonLd: false,\n      rawText: '',\n      importId,\n      callbackUrl,\n      callbackSecret,\n      url,\n      error: 'Failed to fetch page content'\n    }\n  };\n}\n\nconst jsonLdRegex = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\nlet match;\nlet recipe = null;\n\nwhile ((match = jsonLdRegex.exec(html)) !== null) {\n  try {\n    let parsed = JSON.parse(match[1].trim());\n    if (parsed['@graph']) {\n      parsed = parsed['@graph'];\n    }\n    const items = Array.isArray(parsed) ? parsed : [parsed];\n    for (const item of items) {\n      if (item['@type'] === 'Recipe' || \n          (Array.isArray(item['@type']) && item['@type'].includes('Recipe'))) {\n        recipe = item;\n        break;\n      }\n    }\n    if (recipe) break;\n  } catch (e) {}\n}\n\nconst titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst htmlTitle = titleMatch ? titleMatch[1].trim() : '';\n\nif (recipe) {\n  const ingredients = (recipe.recipeIngredient || []).map((ing) => {\n    const text = typeof ing === 'string' ? ing.trim() : '';\n    const prepMatch = text.match(/,\\s*(.+)$/);\n    const preparation = prepMatch ? prepMatch[1].trim() : null;\n    const nameWithoutPrep = prepMatch ? text.replace(prepMatch[0], '').trim() : text;\n    const canon = nameWithoutPrep\n      .replace(/^[\\d\\/.\\s]+(g|kg|ml|L|oz|lb|cups?|tbsp|tsp|fl\\s*oz|pcs|pieces?)?\\s*/i, '')\n      .replace(/^of\\s+/i, '')\n      .trim();\n    return {\n      name: text,\n      canonicalName: canon || text,\n      preparation: preparation,\n      quantity: null,\n      unit: null,\n      optional: false,\n      ingredientGroup: null\n    };\n  });\n\n  const steps = [];\n  const instructions = recipe.recipeInstructions || [];\n  if (Array.isArray(instructions)) {\n    for (const step of instructions) {\n      if (typeof step === 'string') {\n        steps.push(step);\n      } else if (step.text) {\n        steps.push(step.text);\n      } else if (step.itemListElement) {\n        for (const sub of step.itemListElement) {\n          if (sub.text) steps.push(sub.text);\n          else if (typeof sub === 'string') steps.push(sub);\n        }\n      }\n    }\n  } else if (typeof instructions === 'string') {\n    steps.push(instructions);\n  }\n\n  function parseDuration(dur) {\n    if (!dur) return null;\n    const m = dur.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?/);\n    if (!m) return null;\n    return (parseInt(m[1] || '0') * 60) + parseInt(m[2] || '0');\n  }\n\n  const parsedRecipe = {\n    title: recipe.name || htmlTitle || 'Untitled Recipe',\n    servings: recipe.recipeYield ? parseInt(String(recipe.recipeYield)) || null : null,\n    prepTimeMinutes: parseDuration(recipe.prepTime),\n    cookTimeMinutes: parseDuration(recipe.cookTime),\n    totalTimeMinutes: parseDuration(recipe.totalTime),\n    ingredients: ingredients,\n    steps: steps,\n    imageUrl: Array.isArray(recipe.image) ? recipe.image[0] : (recipe.image?.url || recipe.image || null)\n  };\n\n  return {\n    json: {\n      hasJsonLd: true,\n      parsedRecipe,\n      importId,\n      callbackUrl,\n      callbackSecret,\n      url,\n      rawText: html.substring(0, 5000)\n    }\n  };\n}\n\nconst textContent = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 6000);\n\nreturn {\n  json: {\n    hasJsonLd: false,\n    rawText: textContent,\n    htmlTitle,\n    importId,\n    callbackUrl,\n    callbackSecret,\n    url\n  }\n};"
      },
      "id": "extract-json-ld",
      "name": "Extract JSON-LD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "json-ld-found",
              "leftValue": "={{ $json.hasJsonLd }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-json-ld",
      "name": "Has JSON-LD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1790, 600]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a recipe extraction assistant. Given the text content of a web page, extract the recipe into structured JSON.\n\nReturn a JSON object with:\n- \"title\" (string): recipe name\n- \"servings\" (number or null)\n- \"prepTimeMinutes\" (number or null)\n- \"cookTimeMinutes\" (number or null)\n- \"totalTimeMinutes\" (number or null): only if a total time is given but prep/cook are not broken out\n- \"ingredients\" (array): each with:\n  - \"name\" (string): full ingredient line as written (e.g. \"200g medjool dates, roughly chopped\")\n  - \"canonicalName\" (string): clean normalized ingredient name only, no quantities or prep notes (e.g. \"Medjool Dates\")\n  - \"quantity\" (number or null)\n  - \"unit\" (string or null): one of pcs, g, kg, oz, lb, ml, L, cup, tbsp, tsp, fl oz\n  - \"preparation\" (string or null): how to prepare, e.g. \"roughly chopped\", \"melted\", \"room temperature\"\n  - \"optional\" (boolean): true if optional, decorative, or for garnish\n  - \"ingredientGroup\" (string or null): section heading like \"For the frosting\", \"Optional toppings\"\n- \"steps\" (array of strings): cooking steps in order, clear and actionable\n- \"imageUrl\" (string or null): image URL if found in the page\n\nRules:\n- Always populate canonicalName even if you must infer it from context\n- Separate preparation notes from the ingredient name in canonicalName\n- If ingredients are grouped under headings, include the heading in ingredientGroup\n- Mark garnishes, decorations, and items explicitly called \"optional\" as optional: true\n- Steps should be concise but complete\n- If no recipe is found, return: {\"error\": \"No recipe found on this page\"}",
              "role": "system"
            },
            {
              "content": "=Extract the recipe from this web page text:\n\nPage title: {{ $json.htmlTitle }}\nURL: {{ $json.url }}\n\n---\n{{ $json.rawText }}",
              "role": "user"
            }
          ]
        },
        "simplifyOutput": true,
        "jsonOutput": true,
        "options": {
          "maxTokens": 3000,
          "temperature": 0.2
        }
      },
      "id": "gpt-parse-recipe",
      "name": "GPT Parse Recipe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2010, 540],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format GPT response for callback\n// With simplifyOutput + jsonOutput, $input.first().json IS the parsed recipe directly\nconst parsedRecipe = $input.first().json;\n\n// Get prevData — could come from defuddle blog path or fallback HTML path\nlet prevData;\ntry { prevData = $('Format Defuddle Blog').first().json; } catch(e) { prevData = null; }\nif (!prevData || !prevData.callbackUrl) {\n  try { prevData = $('Extract JSON-LD').first().json; } catch(e) { prevData = null; }\n}\nif (!prevData || !prevData.callbackUrl) {\n  prevData = { callbackUrl: '', callbackSecret: '', importId: '', rawText: '' };\n}\n\nif (!parsedRecipe || parsedRecipe.error) {\n  return {\n    json: {\n      callbackUrl: prevData.callbackUrl,\n      callbackSecret: prevData.callbackSecret,\n      importId: prevData.importId,\n      error: (parsedRecipe && parsedRecipe.error) || 'GPT returned empty response',\n      rawContent: prevData.rawText || ''\n    }\n  };\n}\n\n// Merge imageUrl from defuddle frontmatter if GPT didn't find one\nif (!parsedRecipe.imageUrl && prevData.imageUrl) {\n  parsedRecipe.imageUrl = prevData.imageUrl;\n}\n\nreturn {\n  json: {\n    callbackUrl: prevData.callbackUrl,\n    callbackSecret: prevData.callbackSecret,\n    importId: prevData.importId,\n    recipe: parsedRecipe,\n    rawContent: prevData.rawText || '',\n    rawMetadata: { title: parsedRecipe.title, url: prevData.url, source: 'gpt' }\n  }\n};"
      },
      "id": "format-gpt-result",
      "name": "Format GPT Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 540]
    },
    {
      "parameters": {
        "jsCode": "// Format JSON-LD result for callback\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    callbackUrl: data.callbackUrl,\n    callbackSecret: data.callbackSecret,\n    importId: data.importId,\n    recipe: data.parsedRecipe,\n    rawContent: data.rawText,\n    rawMetadata: { title: data.parsedRecipe.title, url: data.url, source: 'json-ld' }\n  }\n};"
      },
      "id": "format-jsonld-result",
      "name": "Format JSON-LD Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 720]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $json.callbackSecret }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recipe: $json.recipe, rawContent: $json.rawContent, rawMetadata: $json.rawMetadata, error: $json.error }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-callback",
      "name": "Send Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 420]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Validate URL", "type": "main", "index": 0 }]]
    },
    "Validate URL": {
      "main": [[{ "node": "Is YouTube?", "type": "main", "index": 0 }]]
    },
    "Is YouTube?": {
      "main": [
        [{ "node": "Fetch YT via Defuddle", "type": "main", "index": 0 }],
        [{ "node": "Fetch Blog via Defuddle", "type": "main", "index": 0 }]
      ]
    },
    "Fetch YT via Defuddle": {
      "main": [[{ "node": "Defuddle YT OK?", "type": "main", "index": 0 }]]
    },
    "Defuddle YT OK?": {
      "main": [
        [{ "node": "Format Defuddle YT", "type": "main", "index": 0 }],
        [{ "node": "Fetch YouTube Page", "type": "main", "index": 0 }]
      ]
    },
    "Format Defuddle YT": {
      "main": [[{ "node": "GPT Parse YouTube", "type": "main", "index": 0 }]]
    },
    "Fetch YouTube Page": {
      "main": [[{ "node": "Extract Transcript URL", "type": "main", "index": 0 }]]
    },
    "Extract Transcript URL": {
      "main": [[{ "node": "Has Transcript URL?", "type": "main", "index": 0 }]]
    },
    "Has Transcript URL?": {
      "main": [
        [{ "node": "Fetch Transcript", "type": "main", "index": 0 }],
        [{ "node": "Format Transcript", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Transcript": {
      "main": [[{ "node": "Format Transcript", "type": "main", "index": 0 }]]
    },
    "Format Transcript": {
      "main": [[{ "node": "GPT Parse YouTube", "type": "main", "index": 0 }]]
    },
    "GPT Parse YouTube": {
      "main": [[{ "node": "Format YT Result", "type": "main", "index": 0 }]]
    },
    "Format YT Result": {
      "main": [[{ "node": "Send Callback", "type": "main", "index": 0 }]]
    },
    "Fetch Blog via Defuddle": {
      "main": [[{ "node": "Defuddle Blog OK?", "type": "main", "index": 0 }]]
    },
    "Defuddle Blog OK?": {
      "main": [
        [{ "node": "Format Defuddle Blog", "type": "main", "index": 0 }],
        [{ "node": "Fetch Blog HTML", "type": "main", "index": 0 }]
      ]
    },
    "Format Defuddle Blog": {
      "main": [[{ "node": "GPT Parse Recipe", "type": "main", "index": 0 }]]
    },
    "Fetch Blog HTML": {
      "main": [[{ "node": "Extract JSON-LD", "type": "main", "index": 0 }]]
    },
    "Extract JSON-LD": {
      "main": [[{ "node": "Has JSON-LD?", "type": "main", "index": 0 }]]
    },
    "Has JSON-LD?": {
      "main": [
        [{ "node": "Format JSON-LD Result", "type": "main", "index": 0 }],
        [{ "node": "GPT Parse Recipe", "type": "main", "index": 0 }]
      ]
    },
    "GPT Parse Recipe": {
      "main": [[{ "node": "Format GPT Result", "type": "main", "index": 0 }]]
    },
    "Format GPT Result": {
      "main": [[{ "node": "Send Callback", "type": "main", "index": 0 }]]
    },
    "Format JSON-LD Result": {
      "main": [[{ "node": "Send Callback", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-13T00:00:00.000Z",
  "versionId": "4"
}
