n8n/recipe-import-workflow.json
{
  "name": "Recipe Import - Blog Extraction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recipe-import",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate URL and extract metadata\nconst input = $input.first().json;\nconst url = input.url || '';\nconst importId = input.importId || '';\nconst callbackUrl = input.callbackUrl || '';\nconst callbackSecret = input.callbackSecret || '';\nconst platform = input.platform || 'blog';\n\nif (!url || !importId || !callbackUrl) {\n  throw new Error('Missing required fields: url, importId, callbackUrl');\n}\n\ntry {\n  new URL(url);\n} catch (e) {\n  throw new Error('Invalid URL: ' + url);\n}\n\nreturn {\n  json: {\n    url,\n    importId,\n    callbackUrl,\n    callbackSecret,\n    platform,\n    domain: new URL(url).hostname.replace('www.', '')\n  }\n};"
      },
      "id": "validate-url",
      "name": "Validate URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "fetch-html",
      "name": "Fetch Blog HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Try to extract JSON-LD Recipe structured data from HTML\nconst html = $input.first().json.data || $input.first().json.body || '';\nconst url = $('Validate URL').first().json.url;\nconst importId = $('Validate URL').first().json.importId;\nconst callbackUrl = $('Validate URL').first().json.callbackUrl;\nconst callbackSecret = $('Validate URL').first().json.callbackSecret;\n\n// Check for fetch error\nif (!html || html.length < 100) {\n  return {\n    json: {\n      hasJsonLd: false,\n      rawText: '',\n      importId,\n      callbackUrl,\n      callbackSecret,\n      url,\n      error: 'Failed to fetch page content'\n    }\n  };\n}\n\n// Extract JSON-LD scripts\nconst jsonLdRegex = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\nlet match;\nlet recipe = null;\n\nwhile ((match = jsonLdRegex.exec(html)) !== null) {\n  try {\n    let parsed = JSON.parse(match[1].trim());\n    \n    // Handle @graph arrays\n    if (parsed['@graph']) {\n      parsed = parsed['@graph'];\n    }\n    \n    // Ensure it's an array\n    const items = Array.isArray(parsed) ? parsed : [parsed];\n    \n    for (const item of items) {\n      if (item['@type'] === 'Recipe' || \n          (Array.isArray(item['@type']) && item['@type'].includes('Recipe'))) {\n        recipe = item;\n        break;\n      }\n    }\n    if (recipe) break;\n  } catch (e) {\n    // Invalid JSON-LD, skip\n  }\n}\n\n// Extract title from HTML as fallback\nconst titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst htmlTitle = titleMatch ? titleMatch[1].trim() : '';\n\nif (recipe) {\n  // Parse JSON-LD Recipe into our format\n  const ingredients = (recipe.recipeIngredient || []).map((ing, i) => {\n    // Basic parsing: try to split quantity/unit from name\n    const text = typeof ing === 'string' ? ing : '';\n    return {\n      name: text,\n      canonicalName: text,\n      quantity: null,\n      unit: null,\n      optional: false\n    };\n  });\n  \n  const steps = [];\n  const instructions = recipe.recipeInstructions || [];\n  if (Array.isArray(instructions)) {\n    for (const step of instructions) {\n      if (typeof step === 'string') {\n        steps.push(step);\n      } else if (step.text) {\n        steps.push(step.text);\n      } else if (step.itemListElement) {\n        for (const sub of step.itemListElement) {\n          if (sub.text) steps.push(sub.text);\n          else if (typeof sub === 'string') steps.push(sub);\n        }\n      }\n    }\n  } else if (typeof instructions === 'string') {\n    steps.push(instructions);\n  }\n\n  // Parse ISO 8601 duration (e.g., PT30M, PT1H15M)\n  function parseDuration(dur) {\n    if (!dur) return null;\n    const match = dur.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?/);\n    if (!match) return null;\n    return (parseInt(match[1] || '0') * 60) + parseInt(match[2] || '0');\n  }\n\n  const parsedRecipe = {\n    title: recipe.name || htmlTitle || 'Untitled Recipe',\n    servings: recipe.recipeYield ? parseInt(String(recipe.recipeYield)) || null : null,\n    prepTimeMinutes: parseDuration(recipe.prepTime),\n    cookTimeMinutes: parseDuration(recipe.cookTime),\n    ingredients: ingredients,\n    steps: steps,\n    imageUrl: Array.isArray(recipe.image) ? recipe.image[0] : (recipe.image?.url || recipe.image || null)\n  };\n\n  return {\n    json: {\n      hasJsonLd: true,\n      parsedRecipe,\n      importId,\n      callbackUrl,\n      callbackSecret,\n      url,\n      rawText: html.substring(0, 5000)\n    }\n  };\n}\n\n// No JSON-LD found — strip HTML to text for GPT\nconst textContent = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 6000);\n\nreturn {\n  json: {\n    hasJsonLd: false,\n    rawText: textContent,\n    htmlTitle,\n    importId,\n    callbackUrl,\n    callbackSecret,\n    url\n  }\n};"
      },
      "id": "extract-json-ld",
      "name": "Extract JSON-LD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "json-ld-found",
              "leftValue": "={{ $json.hasJsonLd }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-json-ld",
      "name": "Has JSON-LD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a recipe extraction assistant. Given the text content of a web page, extract the recipe into structured JSON.\n\nReturn a JSON object with:\n- \"title\" (string): recipe name\n- \"servings\" (number or null): number of servings\n- \"prepTimeMinutes\" (number or null): prep time in minutes\n- \"cookTimeMinutes\" (number or null): cook time in minutes\n- \"ingredients\" (array): each with {\"name\": string, \"canonicalName\": string, \"quantity\": number or null, \"unit\": string or null, \"optional\": boolean}\n- \"steps\" (array of strings): cooking steps in order\n- \"imageUrl\" (string or null): image URL if found\n\nFor ingredients:\n- \"name\" is the full ingredient text (e.g. \"2 cups all-purpose flour\")\n- \"canonicalName\" is the normalized ingredient name in English (e.g. \"All-Purpose Flour\")\n- Extract quantity and unit when possible\n- Valid units: pcs, g, kg, oz, lb, ml, L, cup, tbsp, tsp, fl oz\n\nIf no recipe is found, return: {\"error\": \"No recipe found on this page\"}"
            },
            {
              "role": "user",
              "content": "=Extract the recipe from this web page text:\n\nPage title: {{ $json.htmlTitle }}\nURL: {{ $json.url }}\n\n---\n{{ $json.rawText }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 2048,
          "responseFormat": "json_object"
        }
      },
      "id": "gpt-parse-recipe",
      "name": "GPT Parse Recipe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1350, 420],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format GPT response for callback\nconst gptResponse = $input.first().json;\nconst prevData = $('Extract JSON-LD').first().json;\n\nlet parsedRecipe;\ntry {\n  // The GPT response might be in .message.content or directly in the output\n  const content = gptResponse.message?.content || gptResponse.text || JSON.stringify(gptResponse);\n  parsedRecipe = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  return {\n    json: {\n      callbackUrl: prevData.callbackUrl,\n      callbackSecret: prevData.callbackSecret,\n      importId: prevData.importId,\n      error: 'Failed to parse GPT response',\n      rawContent: prevData.rawText\n    }\n  };\n}\n\nif (parsedRecipe.error) {\n  return {\n    json: {\n      callbackUrl: prevData.callbackUrl,\n      callbackSecret: prevData.callbackSecret,\n      importId: prevData.importId,\n      error: parsedRecipe.error,\n      rawContent: prevData.rawText\n    }\n  };\n}\n\nreturn {\n  json: {\n    callbackUrl: prevData.callbackUrl,\n    callbackSecret: prevData.callbackSecret,\n    importId: prevData.importId,\n    recipe: parsedRecipe,\n    rawContent: prevData.rawText,\n    rawMetadata: { title: parsedRecipe.title, url: prevData.url, source: 'gpt' }\n  }\n};"
      },
      "id": "format-gpt-result",
      "name": "Format GPT Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 420]
    },
    {
      "parameters": {
        "jsCode": "// Format JSON-LD result for callback\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    callbackUrl: data.callbackUrl,\n    callbackSecret: data.callbackSecret,\n    importId: data.importId,\n    recipe: data.parsedRecipe,\n    rawContent: data.rawText,\n    rawMetadata: { title: data.parsedRecipe.title, url: data.url, source: 'json-ld' }\n  }\n};"
      },
      "id": "format-jsonld-result",
      "name": "Format JSON-LD Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $json.callbackSecret }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recipe: $json.recipe, rawContent: $json.rawContent, rawMetadata: $json.rawMetadata, error: $json.error }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-callback",
      "name": "Send Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate URL": {
      "main": [
        [
          {
            "node": "Fetch Blog HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Blog HTML": {
      "main": [
        [
          {
            "node": "Extract JSON-LD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON-LD": {
      "main": [
        [
          {
            "node": "Has JSON-LD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has JSON-LD?": {
      "main": [
        [
          {
            "node": "Format JSON-LD Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GPT Parse Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Parse Recipe": {
      "main": [
        [
          {
            "node": "Format GPT Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format GPT Result": {
      "main": [
        [
          {
            "node": "Send Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON-LD Result": {
      "main": [
        [
          {
            "node": "Send Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-11T00:00:00.000Z",
  "versionId": "1"
}
